[submodule "extern/bx"]
	path = extern/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "extern/bimg"]
	path = extern/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "extern/bgfx"]
	path = extern/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/cimgui"]
	path = extern/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "extern/cimguizmo"]
	path = extern/cimguizmo
	url = https://github.com/cimgui/cimguizmo.git
[submodule "extern/miniaudio"]
	path = extern/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "extern/RmlUi"]
	path = extern/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extern/harfbuzz"]
	path = extern/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
